{% extends 'baseBack.html.twig' %}

{% block title %}FitHub | Dashboard{% endblock %}

{% block body %}
<div class="col-md-12 grid-margin">
    <div class="row">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
{% endblock %}
